@model IEnumerable<housemanagement1.users>

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhousemanagement System</title>
    <style>

        h3 {
            color: #333;
            text-align: center;
            background-color: #ffffff;
  

        }
    </style>
</head>
<body>
    <h3>BHOUSEMANAGEMENT</h3>
</body>
</html>



@if(!String.IsNullOrEmpty(TempData["Msg"] as String))
{
    <div class="alert alert-success">@TempData["Msg"]</div>
}

@*<table class="table">
    <tr>
        <th>Seq #</th>
        <th>
            Username
        </th>
        <th>
            Action
        </th>
    </tr>
    @{int i = 1;}
@foreach (var item in Model) {
    <tr>
        <td>@i</td>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
    i++;
}

</table>*@
